@model MyTodo.Models.Task

@{
	ViewBag.Title = "Task details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	@Html.LabelFor(model => model.Title)
	<span class="uneditable-input">@Model.Title</span>	
</div>
<div>
	@Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description, new { @class = "uneditable-textarea", rows = "3", cols="20" })
</div>
<div>
	<label class="checkbox">
		@Html.DisplayFor(model => model.Completed, new { @class = "checkbox uneditable-input" })
		@Html.LabelFor(model => model.Completed)
	</label>
</div>
<br/>
<p>
	@Html.ActionLink("Edit", "Edit", new { id=Model.TaskId }, new { @class = "btn btn-primary" })
	@Html.ActionLink("Back to List", "GetAll", null, new { @class = "btn btn-link" })
</p>
