<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>@ViewBag.Title</title>
		<link href="@Styles.Url("~/assets/css/bootstrap.css")" rel="stylesheet" />
		<style>
		    body {
		        padding: 60px;
		    }

            #logout {
                margin-right: 5px;
            }

             #logout a {
                text-decoration: underline;
            }
		</style>
	</head>
	<body>
		<div class="container">
			<div class="navbar navbar-fixed-top navbar-inverse">
				<div class="navbar-inner">
                    @if (Request.IsAuthenticated) {
						<p id="logout" class="navbar-text pull-right">
							@User.Identity.Name	| 
                            @Html.ActionLink("logout", "Logout", "User", null, new { @class = "navbar-link"})	
						</p>
                    }
                   </div>
			</div>
			<div class="page-header">
				<h2>@ViewBag.Title</h2>
			</div>
			@RenderBody()	
		</div>
		<script src="@Scripts.Url("~/assets/js/libs/jquery-1.8.2.js")" type="text/javascript"></script>
		<script src="@Scripts.Url("~/assets/js/libs/bootstrap.js")" type="text/javascript"></script>
        @RenderSection("scripts", false)
	</body>
</html>
